
.firstBox {
    position: relative;
    top:90px;
    width: 600px;
    height: 650px;
    margin: 20px 0;
    background:red;
   border-radius:100px;
   border-top-right-radius: 150px;
   border-bottom-right-radius: 150px;
    text-align: center;
    text-indent: .1em;
    
   
  }
  .secondBox:after {
    content: '';
    position: absolute;
    height: 650px;
    width: 600px;
    top: 135px;
    left: 605px;
    bottom: 20%;
    border-bottom-left-radius: 150px;
   border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    
    background: inherit;
    background-color:red;
  }
  .container {
      width: 450px;
      height: 170px;
      background-color: skyblue;
      position: absolute;
      border-radius: 20px;
      left: 690px;
      top: 290px;
      padding:5px;

  }
.buttonBox {
    width: 450px;
}
button{
    position: absolute;
    left:800px;
    color: white;
    background-color: black;
    height:30px;

}
.circle1{
	width: 110px;
	height: 110px;
	background:blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top:150px;
    left:40px;
}
.circle2{
	width: 30px;
	height: 30px;
	background:red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top:190px;
    left:160px;
}
.circle3{
	width: 30px;
	height: 30px;
	background-color:orange;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top:190px;
    left:195px;
}
.circle4{
	width: 30px;
	height: 30px;
	background-color:green;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top:190px;
    left:230px;
}


 .bigscreen{
     width:450px;
     height:310px;
     background-color:rgb(20, 19, 19);
     position: absolute;
     top: 280px;
     left: 75px;
     border-radius: 30px;
     
 }

 .smallscreen{
    width:350px;
    height:220px;
    background-color:grey;
    position: absolute;
    top: 330px;
    left: 125px;
    border-radius:20px;
   
    
 }
 .circle5{
	width: 20px;
	height: 20px;
	background-color:whitesmoke;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top:305px;
    left:230px;
}
.circle6{
	width: 20px;
	height: 20px;
	background-color:whitesmoke;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top:305px;
    left:330px;
}
.circle7{
	width: 20px;
	height: 20px;
	background-color:red;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top:560px;
    left:160px;
}

.circle8{
	width: 35px;
	height: 35px;
	background-color:black;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top:650px;
    left:120px;
}



.sixthbox{
    position:absolute;
    height:10px;
    width:40px;
    background-color:green;
    top:635px;
    left: 170px;
    border-radius:20px;
}
.seventhbox{
    position:absolute;
    height:10px;
    width:40px;
    background-color:yellow;
    top:635px;
    left: 220px;
    border-radius:20px;
}
.eightbox {
    position:absolute;
    height:40px;
    width:90px;
    background-color:orange;
    top:680px;
    left: 175px;
    border-radius:10px;

}
.circle9{
	width: 150px;
	height: 150px;
	background-color:grey;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top:615px;
    left:328px;
}
.ninthbox {
    position:absolute;
    height:40px;
    width:140px;
    background-color:rgb(31, 29, 29);
    top:670px;
    left: 333px;
    border-radius:10px;

}
.tenthbox {
    position:absolute;
    height:140px;
    width:40px;
    background-color:rgb(31, 29, 29);
    top:620px;
    left: 382px;
    border-radius:10px;

}
#image {
    width:100%;
    height:100%;
   
    
}
.line {
    width:1.5%;
    height:400px;
    position: absolute;
    left:596px;
    top:265px;
    background-color: black;
}
.blackbox {
    width: 600px;
    height: 140px;
    position: absolute;
    background-color: black;
    left: 7px;
    top:135px;
    border-top-left-radius: 105px;
    border-top-right-radius: 105px;
}
.blackbox1 {
    width: 600px;
    height: 140px;
    position: absolute;
    background-color: black;
    top:135px;
    left:605px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
  
   
  
  
}
.line1  {
    width:40px;;
    height:20px;
    position: absolute;
    left:585px;
    top:295px;
    background-color:white;
    
}
.line2  {
    width:40px;;
    height:20px;
    position: absolute;
    left:585px;
    top:450px;
    background-color:white;
    
}
.line3 {
    width:40px;;
    height:20px;
    position: absolute;
    left:585px;
    top:600px;
    background-color:white;
    
}
.poke {
    width: 250px;
    height: 50px;

    position: absolute;
    left: 530px;
    
}
.box{
    width:450px;

    height: 100px;
    position: absolute;
    top: 520px;
    left:688px;
    border-radius: 20px;
    background-color:slateblue;
}
.circle10{
	width: 70px;
	height: 70px;
	background:yellowgreen;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top:650px;
    left:750px;
}
.circle11{
	width: 70px;
	height: 70px;
	background:gold;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top:650px;
    left:850px;
}
.circle12{
	width: 70px;
	height: 70px;
	background:hotpink;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top:650px;
    left:950px;
}

